/* Reset */
.jbook,.jbook *{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;line-height:1}
/* */
.jbook{
	position:fixed;
	top:0;bottom:0;left:0;right:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
.jbook.grabbable{
	cursor:hand;
	cursor:grab;
	cursor:-moz-grab;
	cursor:-webkit-grab;
}
.jbook.grabbable.grabbing{
	cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
}
.jbook .pageContainer{
	position:relative;
	left:0;
	width:100%;height:100%;
	background:#EE0;
	display:-moz-box; /* Firefox */
	display:-webkit-box; /* Safari and Chrome */
	display:-ms-flexbox; /* Internet Explorer 10 */
	display:box;
}
.jbook .pageContainer .page{
	position:relative;
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari and Chrome */
	-ms-flex:1.0; /* Internet Explorer 10 */
	box-flex:1.0;
	width:0;
	overflow: hidden;
}
.jbook .pageContainer .page .sprite{	
	position:absolute;
}





